*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tela{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh;
    width: 100vw;
    background-color: red;
}

.tela #titulo{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;
    font-weight: bold;

    background-color: green;
}

.tela #principal{
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tela #principal #quadro{
    width: auto;
    padding: 5px;
    background-color: lightgrey;
    flex-grow: 1;
}

.tela #principal #quadro .linha{
    display: flex;
    flex-direction: row;
}
.tela #principal #quadro .linha .celula{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.tela #principal #quadro .linha .celula .grade{
    border: 1px solid black;
    background-color: white;
    width: 95%;
    height: 95%;
    border-radius: 40%;
}

.tela #principal #quadro .linha .celula .grade .img{
    width: 100%;
    height: 100%;
}

.tela #principal #direcao{
    width: 100px;
    padding: 5px;
    background-color: grey;
}

.tela #principal #direcao .titulo{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;
    font-weight: bold;
}

.tela #principal #direcao .seta{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 40%;
    margin-bottom: 3px;
    
}

.tela #principal #direcao .seta img{
    width: 90%;
}

.tela #operacional{
    height: 20%;
    display: flex;
    flex-direction: row;
}

.tela #operacional .componentes{
    width: 80%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tela #operacional .componentes #acoes{
    width: auto;
    display: flex;
    flex-direction: row;
}

.tela #operacional .componentes .quadrado{
    width: 110px;
    height: 110px;
    background-color: white;
    margin: 5px;
    border: 2px solid black;
}






.tela #operacional #controle{
    width: 20%;
    padding: 5px;
    background-color: pink;
}

.margem{
    height: 20%;
    background-color: green;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding-top: 20px;

    color: white;
    font-size: 40px;
    font-weight: bold;
}

.rio{
    height: 60%;
    background-color: blue;
}
.rio .jogo{
    margin: 10px;
    width: 80%;
    height:95%;
}

.objeto{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    z-index: 9999;
}

.objeto img{
    width: 100%;
}

.controle{
    position: absolute;
    width: 18%;
    height: 70vh;
    top:15%;
    right: 10px;
    background-color: yellow;
    opacity: 0.9;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    align-content: space-between;   
}

.controle .comandos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    min-height: 30px;
    margin: 10px;
}

.controle .reset{
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
    border-radius: 20px; 
    cursor: pointer;
}

.controle .acerto{
    font-size: 30px;
    font-weight: bold;
}

.controle .lata {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("img/lata.webp") no-repeat center;
    background-size: 80%;
}

.controle .lata img {
    height: 100%;
}